* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,900&display=swap');
body{
    background-color: rgb(148, 44, 245);
    font-family: 'Roboto', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#logo {
    max-width: 100px; 
    height: auto;
    position: relative;
    padding: 10px 9px;
}

#box{
    width: 40%;
    padding: 35px;
    box-shadow: 0px 0px 5px grey;
    background-color: rgb(168, 156, 156);
    border-radius: 6px;
}
.row{
    width: 100%;
    padding-top: 20px;
}
.btn{
    width: 100%;
    padding: 5px;
    background-color: rgb(148, 44, 245);
    margin-top: 20px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    color: white;
    
}
